*.pyc
*.log
*.old
*.out
*.DS_Store
*.~
*~
*.user
*.project

# Build directories
build*/
install*/

# Custom ignores
_local_*
_local_/*

# Ignore IDEs
.idea
.vscode/
**/compile_commands.json
.clangd/
venv/

# Ignore python editable installs
*.egg-info/

# Ignore pip files
pip-wheel-metadata/

# Ignore spack logs
spack-build-env.txt
spack-build-out.txt
