*.pyc
*.log
*.old
*.out
*.DS_Store
*.~
*~
*.user
*.project

# Build directories
build*/
install*/

# Custom ignores
_local_*
_local_/*

# Ignore IDEs
.idea
.vscode/
**/compile_commands.json
.clangd/

# Ignore python editable installs
*.egg-info/

# Ignore pip files
pip-wheel-metadata/
